#ui{
    width: 100%;
    height: 100%;
}
.button{
    display: inline-block;
    position: fixed;
    width: 1.25cm;
    height: 0.875cm;
    z-index: 1;
}
.button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: skew(-15deg);
    background-color: black;
}
.button::after{
    content: "";
    position: absolute;
    background-position: left center;
    background-size: cover;
    width: 0.5cm;
    height: 0.5cm;
    top: 0.175cm;
}
#settings{
    top: 6rem;
    right: -0.25cm;
}
#settings::before{
    border-left: 5px solid white;
}
#settings::after{
    background-image: url(../img/ui/setting.png);
    right: 0.4cm;
}
#back{
    top: 10px;
    left: -0.25cm;
}
#back::before{
    border-right: 5px solid white;
}
#back::after{
    background-image: url(../img/ui/back.png);
    left: 0.4cm;
}
#selects{
    position: absolute;
    left: 1.5cm;
    height: 100%;
    width: 30%;
    transform: skew(-15deg);
    background-color: #00000077;
}
#songs{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    direction: rtl;
}
#songs>div{
    position: relative;
    display: flex;
    flex-direction: column;
    direction: ltr;
    min-height: 100%;
}
#selects::before{
    content: "曲目";
    display: flex;
    position: absolute;
    padding: 0.25rem 0;
    width: 100%;
    top: 10px;
    left: 8px;
    color: white;
    justify-content: center;
    justify-items: center;
    font-size: 1.5rem;
    background-color: #000000cc;
    border-right: 5px solid #ffffffee;
    border-bottom: 2px solid #ffffffee;
    z-index: 1;
}
.song{
    width: 100%;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    -webkit-transition: background-color .3s, color .3s, padding .3s;
    transition: background-color .3s, color .3s, padding .3s;
}
.song:hover{
    background-color: #ffffff55;
}
.song.focus,
.song.focus span{
    background-color: white;
    color: black;
    padding: 0.5rem 0;
}
.song:first-child{
    margin-top: 75%;
}
.song:last-child{
    margin-bottom: 75%;
}
.title{
    width: calc(100% - 3rem);
    margin-left: 1rem;
    font-size: 1.25rem;
}
.dfcy{
    display: flex;
    color: white;
    width: 3rem;
    height: 100%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
#song{
    position: absolute;
    top: 55%;
    right: 15%;
    width: 45%;
    height: 60%;
    transform: translateY(-50%) skew(-15deg);
}
#song-img{
    width: 100%;
    height: calc(100% - 4rem);
    background-image: url(../img/bg/img0.png);
    background-size: cover;
    background-position: center center;
}
#song-info{
    display: flex;
    position: absolute;
    bottom: 0.25rem;
    width: 100%;
    height: 2.5rem;
    background-color: #00000077;
}
#song-dfcy{
    display: flex;
    position: relative;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: white;
}
#song-dfcy>span{
    position: relative;
    width: 25%;
    height: 100%;
    color: black;
    z-index: 3;
    text-align: center;
    -webkit-transition: color .3s;
    transition: color .3s;
}
#song-dfcy-focus{
    position: absolute;
    top: -5px;
    left: 5px;
    width: calc(25% - 10px);
    height: calc(100% + 10px);
    z-index: 2;
    -webkit-transition: left .3s ease-in-out, background-color .3s ease-in-out;
    transition: left .3s ease-in-out, background-color .3s ease-in-out;
}
#song-dfcy-ez::after{
    content: "EZ";
}
#song-dfcy-hd::after{
    content: "HD";
}
#song-dfcy-in::after{
    content: "IN";
}
#song-dfcy-at::after{
    content: "AT";
}
#song-dfcy-ez::after,#song-dfcy-hd::after,
#song-dfcy-in::after,#song-dfcy-at::after{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    width: 100%;
    z-index: 2;
}
#song-dfcy[dfcy = "ez"]>#song-dfcy-focus{
    background-color: #55bb44;
}
#song-dfcy[dfcy = "hd"]>#song-dfcy-focus{
    background-color: #3173b3;
    left: calc(25% + 5px);
}
#song-dfcy[dfcy = "in"]>#song-dfcy-focus{
    background-color: #ee2233;
    left: calc(50% + 5px);
}
#song-dfcy[dfcy = "at"]>#song-dfcy-focus{
    background-color: #3a3637;
    left: calc(75% + 5px);
}
#song-dfcy[dfcy = "ez"]>#song-dfcy-ez{
    color: white;
}
#song-dfcy[dfcy = "hd"]>#song-dfcy-hd{
    color: white;
}
#song-dfcy[dfcy = "in"]>#song-dfcy-in{
    color: white;
}
#song-dfcy[dfcy = "at"]>#song-dfcy-at{
    color: white;
}
#song-mark{
    font-size: 1.75rem;
    margin-left: .25rem;
}
#song-acc{
    position: relative;
    left: 0;
    top: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    margin-left: .5rem;
}
#song-acc::after{
    content: "%";
}