@font-face {
	font-family: Phigros;
	src: url(../font/Exo-Regular.otf);
    src: url(../font/Source\ Han\ Sans\ &\ Saira\ Hybrid-Regular.ttf);
}
@font-face {
    font-family: Phigros cn;
    src: url(../font/msyhl.ttc);
}
html{
    font-size: 90%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    position: fixed;
    background-color: black;
    color: white;
    font-family: Phigros, Phigros cn, Tw Cen MT;
    top: 50vh;
    transform: translateY(-50%);
    max-height: 80vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 100%;
}
#bg{
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
    z-index: -16;
}
#blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: -15;
}
*::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: #ffffff00;
}

*::-webkit-scrollbar-thumb{
    background-color: #ffffff20;
}
*::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff80;
}
#infoList{
    position: absolute;
    height: 90%;
    width: 16rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}
.infos{
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 3px;
    max-height: 6rem;
    transform: skew(-15deg);
    background-color: #bbbbbbdd;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: white;
    box-shadow: 0 0 20px #bbbbbbdd;
    overflow: hidden;
}
.info-info{
    background-color: #00bbbbdd;
    border-color: #00ffff;
    box-shadow: 0 0 20px #00bbbbdd;
}
.info-good{
    background-color: #00bb00dd;
    border-color: #00ff00;
    box-shadow: 0 0 20px #00bb00dd;
}
.info-warning{
    background-color: #bbbb00dd;
    border-color: #ffff00;
    box-shadow: 0 0 20px #bbbb00dd;
}
.info-warning::before{
    content: "警告: ";
}
.info-error{
    background-color: #dd0000dd;
    border-color: #ff0000;
    box-shadow: 0 0 20px #dd0000dd;
}
.info-error::before{
    content: "错误: ";
}