#ui{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#title{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: -3px 3px 10px white;
}
#title::before{
    content: "Phigros on HTML";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 100%;
    text-align: center;
    color: rgb(127, 240, 255);
    text-shadow: -3px 3px 20px rgba(127, 240, 255, 0.5);
    z-index: -1;
}
#title::after{
    content: "Phigros on HTML";
    position: absolute;
    top: -1px;
    left: -2px;
    width: 100%;
    text-align: center;
    color: rgb(226, 155, 220);
    text-shadow: -3px 3px 20px rgba(226, 155, 220, 0.5);
    z-index: -1;
}
#description{
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1.5em;
    color: white;
    font-size: 1.375rem;
    overflow: hidden;
}
#start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99999;
}
#progress{
    position: relative;
    width: 70%;
    height: 2rem;
    margin: 1.5rem auto;
}
#progressBar{
    position: relative;
    width: 100%;
    height: 2px;
}
#progressBar-finished{
    position: absolute;
    height: 100%;
    background-color: white;
}
#progressBar-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffffaa;
}
#progressTitle{
    margin-top: 0.25rem;
}
#infos{
    position: absolute;
    right: 5px;
    bottom: 2px;
    opacity: 0.6;
}